<img alt="EECSBay" 
     src="http://a7.sphotos.ak.fbcdn.net/hphotos-ak-ash4/321247_2375462909660_1343192899_32820711_4446204_n.jpg" 
     width="50%" />

<h1>Welcome to EECSBay</h1>

<h1>Editing post</h1>

<%= render 'form' %>

<%= link_to 'Destroy', @post, :confirm => 'Are you sure?', :method => :delete %> |
<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>
